*{
  margin:0;
  padding:0;
}
body{
  display: flex;
  flex-direction: row;
}
#GameArea{
  height: 100vh;
  width: 80vh;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
}
canvas{
  height: 100%;
  width: 100%;
  /* border: gray 30px solid; */
  background-color: black;
}

#map{
  display:flex;
  height: 80vh;
  width: 80vh;
}

#console{
  background-color: gray;
  padding:10px; 
  display: flex;
  flex-direction: column-reverse;
  width:calc(100% - 20px);
  height: 100%;
  overflow-wrap: normal;
  overflow:hidden;
  word-wrap: break-word;
}
#console > p {
  margin : 5px;
  color:black;
}

#side-area{
  display: flex;
  flex-direction: column;
  width:calc(100vw - 80vh);
  height: auto;
  background-color: lightgrey;
}

#stats{
  display: flex;
  height: 20vh;
  width: 100%;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inventory{
  min-height: 20vh;
}

#floor-item{
  min-height:20vh;
}